/* Globales */


body{
    font-family: "Roboto Flex", sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 2.5rem;
}

h4, h5, h6{
    font-size: 1.5rem;
    font-weight:500;
}

.seccion-oscura{
    color: white;
    background-color: #333333 ;
}

.seccion-clara{
    color: black;
    background-color: white;
}

.seccion-roja{
    color: black;
    background-color: #d10000;
}

.seccion-titulo{
    font-size: 3rem;
    padding: 15px 0;
    font-family: 'Roboto Flex', cursive;
}

.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion-texto{
    font-size: 1.2rem;
}

.texto-negro{
    color: black;
}

.texto-blanco{
    color: white;
}

a{
    text-decoration: none;
    
}

.tarjeta{
    width: 260px;
    height: 236px;
}

/* Navbar */

.navbar{
    padding: 1rem;
    background-color: #d10000;
    
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: black;
    font-size: 1.5rem;
    
    

}

.nav-item{
    background-color: #002333;
    border-radius: 35px;
    font-size: 1rem;
}

.nav-item a{
    color: white;
    
}

.nav-item a:hover{
    color: rgb(228, 224, 224);
}


.icono-navbar{
    width: 86px; 
    height: 86px;
}

.navbar-logo img{
    width: 153px;
    height: 135px;
}

#logo{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


/* Hero */
.hero {
    height: 565px; 
    overflow: hidden; 
}

.carousel-inner, .carousel-item, .carousel-img {
    width: 100%;
}


.carousel-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Planes */


.planes{
    max-height: auto;
    padding: 10px;
    padding: 0;
    margin: 0;
}


.plan-card{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.plan-card img{
    max-width: 100%;
    height: 300px;
}

.iconos-plan{
    width: 53px;
    height: 53px;
}

/* Experiencuia */

.experiencia{
    padding: 100px; 
    padding-top: 0;
    margin: 0;
}

.custom-section {
    background-color: #333333;
    color: #e8e6d7;
    padding: 20px;
}
.divider {
    border-left: 10px solid #e8e6d7;
    height: 100%;
}


/* Seccion contacto */

.contacto .container{
    max-width: 1100px;
    min-height: 100px;
    padding: 20px;

}

.rectangulo{
    margin-top: -4rem;
    background-color: #3A98FF;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 1px rgb(173, 172, 172);
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;

}

.contacto h1{
    font-size: 2rem;
}

.contacto .descripcion{
    color:#333333;
    font-size: 1.3rem;
}

.contacto form{
    
    text-align: start;
}

.contacto input, textarea{
    padding-bottom: 1rem;
}

.contacto button{
    align-items:center;
}

.icono-cont{
    width: 20px;
    height: 20px;
}

.btn-danger{
    background-color: #d10000;
}

/* Footer */

footer{
    min-height: 400px;
    
    background-color: #d10000;
    gap:2rem;
     
}

footer img{
    width: 98px;
    height: 91px;
}

.footer-icon{
    font-size: 5rem;
    margin: 10px;
}

a img{
    height: 50px;
    width: 50px;
}
.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i{
    color: black;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid #333333;

}

.iconos-redes-sociales a:hover i{
    color: black;
}

.derechos-autor{
    font-size: 15px;
    color: black;
    padding: 20px;
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#scrollToTop i{
    font-size: 25px;
}

#scrollToTop:hover {
    background-color: #333333; 
}

/*Pagina Accesorios*/

.accesorios{
    background: rgba(51, 51, 51, 0.21);
    max-width: fit-content;
    padding: 5rem;
}

.card{
    background: rgba(246, 224, 224, 0.74);
}
.card-body{
    padding-top: rem;
    text-align: center;
    font-size: 14px;
}
.card-body h5{
    font-size: 14px;
}

.card-text-1{
    text-align: start;
    font-weight: 600;
}



/*Pagina Contacto*/


.formulario {
    background-image: url(img/fondo-contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.form-container {
    background-image: url(img/fondo-contacto.png);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 675px;
    min-width: 50%;
}


.form-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn-submit {
    background-color: #007bff;
    color: black;
    font-weight:bold;
    
}

.form-container label{
    font-weight: 600;
}

.nombre {
    background: rgba(217, 217, 217, 1);
}

.correo{
    background: rgba(217, 217, 217, 0.521);
}

.asunto{
    background: rgba(217, 217, 217, 0.336);

}

.mensaje{
    background: rgba(217, 217, 217, 0.212);

}

/* Blog */

.hero-blog{
    background-image: url(img/fondo-blog.png);
    height: 350px;
    font-family: "Roboto Flex", sans-serif;
    color: red;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
}
.conatainer-q{
    background-color: #333333;

}

.hero-cards{
    
    background-image: url(img/fondo-blog.png);
    padding: 3rem;
    padding-bottom: 20px;

}

.card-1{
    border-radius: 16px;
    border: none;
    font-weight: bold;
    background: rgba(246, 224, 224, 0.74);
}

.card-body-1{
    gap: 5rem;
    text-align: start;
}



.card-body-1 h6{
    font-size: 2rem;
    font-weight: 600;
}

.card-body-1 p{
    font-weight: 500;
}

.card-1 img{
    border-radius: 16px;
}




/* Diseño responsivo */
@media screen and (max-width: 575px) {
    .overlay p{
        font-size: 20px;
    }
    .overlay i{
        font-size: 40px;
    }
   
    .plan-card img{
        max-width: 20%;
        height: auto;
    }
    .experiencia{
        font-size: 1.2rem;
         
    }

    .carousel-inner, .carousel-item {
        height: 50vh;
    }

    h2{
        font-size: 2rem;
    }
    
}


@media screen and (max-width: 768px) {
    .navbar-brand{
        display: none;
    }
    
    .hero{
        height: 400px;
    }

    .carousel-inner, .carousel-item {
        height: 60vh;
    }
    
    .plan-card img{
        max-width: 80%;
        height: auto;
    }

    
    .experiencia{
        font-size: 1.2rem;
        padding: 2.5rem;
        padding-bottom: 100px;
    }

    .nav-item{
        font-size: 0.8rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .accesorios{
        margin: 0;
    }
    
   
    
}

@media screen and (min-width: 700px) {
    .hero-inferior-img{
        max-width: 600px;
    }
}

@media screen and (max-width: 975px){
    .planes{
        padding: 0;
        margin: 0;
    }
    .carousel-inner, .carousel-item {
        height: 100vh;
    }
    .form-container{
        max-width: 80%;
    }
}
